body {
	background-image: url("../images/ZenBG.png");
	background-size: cover;
}

figure {
	text-align: center;
	font-size: 18px;
	background: #FAFAF4;
	color: #398FBA;
	opacity: 0.7;
    animation-name: example;
    animation-duration: 5s;
}

.navbar {
	background-image: transparent !important;
	background-color: #FAFAF4 !important;
	font-weight: bold;
	color: #398FBA;
	opacity: .8;
}

.navbar-default .navbar-brand {
	color: #398FBA;
	font-size: 30px;
}
.navbar-default .navbar-nav>li>a {
	color: #398FBA;
}

.well {
	background-image: transparent !important;
	background-color: #398FBA !important;
	color: #ffffff;
	opacity: .8;
}

#img-profile {
	float: left;
	margin: 0 auto;
	padding: 15px;
}

#img-skill {
	float: left;
	margin: 0 auto;
	width: 70px;
	height: 70px;
	padding: 10px;
}

#mc-text {
	line-height: 30px;
	font-size: 16px;
}

.img-size {
	display: inline-block;
}

#img-github {
	width: 80px;
	height: 80px;
	margin-top: 20px;
}

#img-linkedin {
	width: 75px;
	height: 73px;
	margin-top: 20px;
	margin-right: 5px;
}

#img-stackoverflow {
	width: 75px;
	height: 72px;
	margin-top: 22px;
}

#copyright {
	color: #398FBA;
}